html{
  
    font-family: 'Roboto', sans-serif;
  }
  
  main{
     
     padding: 100px;
    
  }
  
  header {
      background: #006a6a;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 20px;
  }
  
  .calculator {
      box-shadow: 0px 3px 6px #00000016;
      padding: 0;
      background: #000;
    
  }
  
  .display{
    
      background: #000;
      height: 96px;
      padding: 15px;
      padding-top: 35px;
    
  }
  
  .display span{
    
      color: #fff;
      float: right;
  }
  
  .display h1{
    
      color: #fff;
      float: right;
      margin-right: -105px;
      padding-top: 17px;
      padding-bottom: 17px;  
  }
  
  .keyboard{
    
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      grid-row-gap: 6px;
      grid-column-gap: 4px;
      width: 95%;
      padding-left: 9px;
      padding-bottom: 8px;
    
  }
  button {
      height: 60px;
      border-radius: 3px;
      background-color: #0a0a0a;
      font-size: 2rem;
      color: #fff;
      border: unset;
  
  }
  
  .operator {
    color: #333638;
  }
  
  
  .equal-sign {
    background-color: #df7f00;
    border-color: #337cac;
    color: #fff;
  }
  
  